.Conteneur
{
	display: flex;
	margin-left: 3%;
}


.Caracteristiques
{
	margin-top: 140px;
	width : 15%;
	margin-left: 150px;
	font-family: Helvetica;

}

.Texte
{
	margin-top: 170px;
	width : 70%;
	margin-right: 5%;
	margin-left: 130px;
	text-align: justify;
	font-family: Helvetica;

}

.calendar
{
	

}
.Formulaire
{
	margin-top: 120px;
	margin-right: 5%;
	margin-left: 5%;
	text-align: justify;
	font-family: Helvetica;
}
.AjoutPanier
{
	font-family: Helvetica;
	background-color: #c0c1ff;
	
}