
@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue')

.Conteneur
{
	display: flex;
	margin-left: 3%;
}


.Caracteristiques
{
	margin-top: 140px;
	width : 15%;
	margin-left: 150px;
	font-family: Helvetiva Neue;

}

.Texte
{
	margin-top: 170px;
	width : 70%;
	margin-right: 5%;
	margin-left: 130px;
	text-align: justify;
	font-family: Helvetiva Neue;

}

.calendar
{
	

}
.Formulaire
{
	margin-top: 120px;
	margin-right: 5%;
	margin-left: 5%;
	text-align: justify;
	font-family: Helvetiva Neue;
}
.AjoutPanier
{
	font-family: Helvetiva Neue;
	background-color: #c0c1ff;
	
}