body
{	margin-top: 140px;
	margin-left: 5%;
	font-family: Helvetica;
}

.articlePack
{	text-align: center;
	display: inline-block;
}

.Conteneur
{
	display: flex;
	
}
.Formulaire
{
	margin-top: 120px;
	margin-right: 5%;
	margin-left: 5%;
	text-align: justify;
	font-family: Helvetica;
}
.AjoutPanier
{
	font-family: Helvetica;
	background-color: #c0c1ff;
	
}
