body{
/* /*L'image est positionnée en fond et est centrée */
background: url(photo_de_fond.jpg) no-repeat center center fixed;
/* /*Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.card{
	/* /*L'image est positionnée en fond et est centrée */
background: url(photo_de_fond.jpg) no-repeat center center fixed;
/* /*Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
box-shadow:none;
border:0 none;
outline:0;
}

.container{
	box-shadow:none;
border:0 none;
outline:0;
}

.col-xl-12{
		box-shadow:none;
border:0 none;
outline:0;
}
	



.row{
	margin-top:13%;
	box-shadow:none;
	border:0 none;
	outline:0;
}


#image1{
	height:100%%;
	width:20%;
	margin:auto;
}

#image2{
	height:100%;
	width:20%;
	margin:auto;

}

.card-title{
	background-color: #000137;
	color: white;
}

#text{
	margin-left:10%;
	position:absolute;
	top:30%;
	
	color:white;
	
}

#lettre{
	position:relative;
}


